<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.decoder.sdk">
<uses-permission android:name="android.permission.CAMERA" />
<uses-permission android:name="android.permission.VIBRATE" />
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
<uses-feature android:name="android.hardware.camera" />
<uses-feature android:name="android.hardware.camera.autofocus" />
<uses-feature android:name="android.hardware.sensor.accelerometer" />

<queries>
    <intent>
        <action android:name="com.qualcomm.qti.openxr.intent.action.BIND" />
        <category android:name="com.qualcomm.qti.openxr.intent.category.INPUT_HOST" />
    </intent>
</queries>
</manifest>
